# Preppin' Data
## 2024: Week 10 - Preppin' for Pulse
**Created by:** Jenny Martin | [Challenge Link](https://preppindata.blogspot.com/2024/03/2024-week-10-preppin-for-pulse.html)

Tableau Product Manager, Libby Knell has challenged us to create a Preppin' Data challenge that gets data in shape for working with the newly released Tableau Pulse.  <br>
Pulse empowers every employee to make better, faster decisions by tracking a metric’s current value, compared to the past. <br>
Chin & Beard Suds Co are excited to get started using Tableau Pulse so their employees can make smarter decisions for their flagship store. Their store manager is always on the go and works off their phone daily. With the insights Pulse provides, they’ll be better able to keep track of which products are selling well and might need to be restocked sooner than anticipated. Even better, digests on Email and Slack, as well as Tableau Pulse on Tableau Mobile, meets them where they are so they can stay on top of their daily changing data!

In [1]:
# Input the excel file
import pandas as pd
products = pd.read_excel("2024W10 Input.xlsx", sheet_name="Product Table")
products.head(5)

,Product_Type,Product_Scent,Pack_Size,Product_Size,Unit_Cost,Selling_Price
0,Bar,Lavender Fields,1x,NaN,1.25,1.77
1,Bar,Citrus Breeze,1x,NaN,0.75,0.81
2,Bar,Ocean Mist,1x,NaN,0.66,1.20
3,Bar,Fresh Rain,1x,NaN,0.94,1.61
4,Bar,Rose Garden,1x,NaN,1.55,2.45

In [2]:
transactions = pd.read_excel("2024W10 Input.xlsx", sheet_name="Transaction Data", parse_dates=["Transaction_Date"], date_format="%a, %B %d, %Y").sort_index()
transactions

,Transaction_Date,Transanction_Number,Product_ID,Cash_or_Card,Loyalty_Number,Sales_Before_Discount
0,2021-01-02,20121001,Bar-Ocean_Mist-1x,1,1004721.0,6.00
1,2021-01-02,20121001,Liquid-Rose_Garden-0.5L,1,1004721.0,14.10
2,2021-01-02,20121002,Bar-Citrus_Breeze-4x,2,1009280.0,8.12
3,2021-01-02,20121002,Liquid-Coconut_Dream-0.5L,2,1009280.0,12.36
4,2021-01-02,20121003,Bar-Ocean_Mist-4x,1,1009022.0,13.95
...,...,...,...,...,...,...
105490,2024-03-06,60324062,Bar-Sandalwood_Spice-4x,2,1001139.0,31.96
105491,2024-03-06,60324062,Liquid-Cedarwood_Forest-0.25L,2,1001139.0,7.80
105492,2024-03-06,60324063,Liquid-Citrus_Breeze-0.5L,1,1007693.0,2.48
105493,2024-03-06,60324063,Liquid-Sandalwood_Spice-0.5L,1,1007693.0,47.80
105494,2024-03-06,60324064,Bar-Fresh_Rain-4x,1,1007047.0,21.40

In [3]:
loyalty = pd.read_excel("2024W10 Input.xlsx", sheet_name="Loyalty Table")
loyalty

      Loyalty_Number         Customer_Name Loyalty_Tier Loyalty_Discount
0            1000012     trimmill, leeanne        Bronz              NaN
1            1000026     kobierski, teador          NaN              NaN
2            1000028        plues, jenelle        Bronz              NaN
3            1000032    firmager, gabriell        Bronz              NaN
4            1000038       chiles, nicolea          NaN              NaN
...              ...                   ...          ...              ...
9784         1009987  rattenberie, thacher       Sliver              10%
9785         1009990      mariaud, rosanna       Sliver              10%
9786         1009991     d'ambrogio, edgar       Silver              10%
9787         1009995       scrivener, mark       Silver              10%
9788         1010000          fisk, mendie       Sliver              10%

[9789 rows x 4 columns]

In [4]:
# Filter to the last 2 years of data i.e. only 2023 and 2024 transactions
# This will allow for year on year comparison

max_transaction_year = transactions["Transaction_Date"].dt.year.max()
current_transactions = transactions[transactions["Transaction_Date"].dt.year >= (max_transaction_year - 1)]
current_transactions

,Transaction_Date,Transanction_Number,Product_ID,Cash_or_Card,Loyalty_Number,Sales_Before_Discount
66228,2023-01-03,30123001,Liquid-Sandalwood_Spice-0.25L,2,1005245.0,8.50
66229,2023-01-03,30123001,Liquid-Vanilla_Bean-0.5L,2,1005245.0,14.70
66230,2023-01-03,30123002,Liquid-Sandalwood_Spice-1L,1,1007270.0,13.19
66231,2023-01-03,30123003,Liquid-Eucalyptus_Mint-0.25L,2,1009750.0,9.00
66232,2023-01-03,30123003,Liquid-Eucalyptus_Mint-1L,2,1009750.0,39.81
...,...,...,...,...,...,...
105490,2024-03-06,60324062,Bar-Sandalwood_Spice-4x,2,1001139.0,31.96
105491,2024-03-06,60324062,Liquid-Cedarwood_Forest-0.25L,2,1001139.0,7.80
105492,2024-03-06,60324063,Liquid-Citrus_Breeze-0.5L,1,1007693.0,2.48
105493,2024-03-06,60324063,Liquid-Sandalwood_Spice-0.5L,1,1007693.0,47.80
105494,2024-03-06,60324064,Bar-Fresh_Rain-4x,1,1007047.0,21.40

In [5]:
# Create additional rows of data for the days the store was closed, ensuring all other fields will have null values
# The store is closed on Sundays and Public Holidays

min_transaction_year = transactions["Transaction_Date"].dt.year.min()
start_date = f"{min_transaction_year}-01-01"
end_date = f"{max_transaction_year}-12-31"

all_days = pd.date_range(start=start_date, end=end_date, freq='D')
scaffold = pd.DataFrame({"Transaction_Date": all_days})

transactions = scaffold.merge(transactions, on="Transaction_Date", how="left")
transactions

,Transaction_Date,Transanction_Number,Product_ID,Cash_or_Card,Loyalty_Number,Sales_Before_Discount
0,2021-01-01,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,20121001.0,Bar-Ocean_Mist-1x,1.0,1004721.0,6.00
2,2021-01-02,20121001.0,Liquid-Rose_Garden-0.5L,1.0,1004721.0,14.10
3,2021-01-02,20121002.0,Bar-Citrus_Breeze-4x,2.0,1009280.0,8.12
4,2021-01-02,20121002.0,Liquid-Coconut_Dream-0.5L,2.0,1009280.0,12.36
...,...,...,...,...,...,...
105984,2024-12-27,NaN,NaN,NaN,NaN,NaN
105985,2024-12-28,NaN,NaN,NaN,NaN,NaN
105986,2024-12-29,NaN,NaN,NaN,NaN,NaN
105987,2024-12-30,NaN,NaN,NaN,NaN,NaN
105988,2024-12-31,NaN,NaN,NaN,NaN,NaN

In [6]:
# Update the Cash_or_Card field so that:
# 1=Card
# 2=Cash

transactions["Cash_or_Card"] = transactions["Cash_or_Card"].replace({1.0: "Card", 2.0: "Cash"}).astype("category")
transactions

,Transaction_Date,Transanction_Number,Product_ID,Cash_or_Card,Loyalty_Number,Sales_Before_Discount
0,2021-01-01,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,20121001.0,Bar-Ocean_Mist-1x,Card,1004721.0,6.00
2,2021-01-02,20121001.0,Liquid-Rose_Garden-0.5L,Card,1004721.0,14.10
3,2021-01-02,20121002.0,Bar-Citrus_Breeze-4x,Cash,1009280.0,8.12
4,2021-01-02,20121002.0,Liquid-Coconut_Dream-0.5L,Cash,1009280.0,12.36
...,...,...,...,...,...,...
105984,2024-12-27,NaN,NaN,NaN,NaN,NaN
105985,2024-12-28,NaN,NaN,NaN,NaN,NaN
105986,2024-12-29,NaN,NaN,NaN,NaN,NaN
105987,2024-12-30,NaN,NaN,NaN,NaN,NaN
105988,2024-12-31,NaN,NaN,NaN,NaN,NaN

In [7]:
# Join the Product Table
# You'll need to prepare the join clause fields first

products["Product_Size"] = products["Pack_Size"].fillna("") + products["Product_Size"].fillna("")
products["Product_Size"] = products["Product_Size"].str.strip()

products["Product_ID"] = products["Product_Type"] + "-" + products["Product_Scent"] + "-" + products["Product_Size"]
products["Product_ID"] = products["Product_ID"].str.replace(" ", "_")
products.pop("Pack_Size")
products.head(5)

,Product_Type,Product_Scent,Product_Size,Unit_Cost,Selling_Price,Product_ID
0,Bar,Lavender Fields,1x,1.25,1.77,Bar-Lavender_Fields-1x
1,Bar,Citrus Breeze,1x,0.75,0.81,Bar-Citrus_Breeze-1x
2,Bar,Ocean Mist,1x,0.66,1.20,Bar-Ocean_Mist-1x
3,Bar,Fresh Rain,1x,0.94,1.61,Bar-Fresh_Rain-1x
4,Bar,Rose Garden,1x,1.55,2.45,Bar-Rose_Garden-1x

In [8]:
prod_and_trans = transactions.merge(products, how="left", on="Product_ID")
prod_and_trans

,Transaction_Date,Transanction_Number,Product_ID,Cash_or_Card,Loyalty_Number,Sales_Before_Discount,Product_Type,Product_Scent,Product_Size,Unit_Cost,Selling_Price
0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,20121001.0,Bar-Ocean_Mist-1x,Card,1004721.0,6.00,Bar,Ocean Mist,1x,0.66,1.20
2,2021-01-02,20121001.0,Liquid-Rose_Garden-0.5L,Card,1004721.0,14.10,Liquid,Rose Garden,0.5L,3.70,7.05
3,2021-01-02,20121002.0,Bar-Citrus_Breeze-4x,Cash,1009280.0,8.12,Bar,Citrus Breeze,4x,2.70,4.06
4,2021-01-02,20121002.0,Liquid-Coconut_Dream-0.5L,Cash,1009280.0,12.36,Liquid,Coconut Dream,0.5L,3.44,4.12
...,...,...,...,...,...,...,...,...,...,...,...
105984,2024-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105985,2024-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105986,2024-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105987,2024-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105988,2024-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Calculate the Quantity of each transaction 
# Defined as the Sales_Before_Discount / Selling_Price

prod_and_trans["Quantity"] = prod_and_trans["Sales_Before_Discount"] / prod_and_trans["Selling_Price"]
prod_and_trans

,Transaction_Date,Transanction_Number,Product_ID,Cash_or_Card,Loyalty_Number,Sales_Before_Discount,Product_Type,Product_Scent,Product_Size,Unit_Cost,Selling_Price,Quantity
0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,20121001.0,Bar-Ocean_Mist-1x,Card,1004721.0,6.00,Bar,Ocean Mist,1x,0.66,1.20,5.0
2,2021-01-02,20121001.0,Liquid-Rose_Garden-0.5L,Card,1004721.0,14.10,Liquid,Rose Garden,0.5L,3.70,7.05,2.0
3,2021-01-02,20121002.0,Bar-Citrus_Breeze-4x,Cash,1009280.0,8.12,Bar,Citrus Breeze,4x,2.70,4.06,2.0
4,2021-01-02,20121002.0,Liquid-Coconut_Dream-0.5L,Cash,1009280.0,12.36,Liquid,Coconut Dream,0.5L,3.44,4.12,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
105984,2024-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105985,2024-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105986,2024-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105987,2024-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105988,2024-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# In the Loyalty Table:
# The Customer_Name is currently reading Last Name, First Name. Update it to read First Name Last Name in Title case
# e.g. knell, libby becomes Libby Knell

loyalty[["Last_Name", "First_Name"]] = loyalty["Customer_Name"].str.split(", ", expand=True, n=1)
loyalty.pop("Customer_Name")
loyalty

      Loyalty_Number Loyalty_Tier Loyalty_Discount    Last_Name First_Name
0            1000012        Bronz              NaN     trimmill    leeanne
1            1000026          NaN              NaN    kobierski     teador
2            1000028        Bronz              NaN        plues    jenelle
3            1000032        Bronz              NaN     firmager   gabriell
4            1000038          NaN              NaN       chiles    nicolea
...              ...          ...              ...          ...        ...
9784         1009987       Sliver              10%  rattenberie    thacher
9785         1009990       Sliver              10%      mariaud    rosanna
9786         1009991       Silver              10%   d'ambrogio      edgar
9787         1009995       Silver              10%    scrivener       mark
9788         1010000       Sliver              10%         fisk     mendie

[9789 rows x 5 columns]

In [11]:
loyalty["Customer_Name"] = loyalty["First_Name"] + " " + loyalty["Last_Name"]
loyalty.pop("First_Name")
loyalty.pop("Last_Name")
loyalty["Customer_Name"] = loyalty["Customer_Name"].str.title()
loyalty

      Loyalty_Number Loyalty_Tier Loyalty_Discount        Customer_Name
0            1000012        Bronz              NaN     Leeanne Trimmill
1            1000026          NaN              NaN     Teador Kobierski
2            1000028        Bronz              NaN        Jenelle Plues
3            1000032        Bronz              NaN    Gabriell Firmager
4            1000038          NaN              NaN       Nicolea Chiles
...              ...          ...              ...                  ...
9784         1009987       Sliver              10%  Thacher Rattenberie
9785         1009990       Sliver              10%      Rosanna Mariaud
9786         1009991       Silver              10%     Edgar D'Ambrogio
9787         1009995       Silver              10%       Mark Scrivener
9788         1010000       Sliver              10%          Mendie Fisk

[9789 rows x 4 columns]

In [12]:
# Group together the Loyalty_Tiers into Gold, Silver and Bronze
loyalty["Loyalty_Tier"].unique().tolist()

['Bronz',
 nan,
 'Bronze',
 'bronze',
 'Goald',
 'Gold',
 'gold',
 'Silver',
 'Sliver',
 'silver']

In [13]:
loyalty["Loyalty_Tier"] = loyalty["Loyalty_Tier"].str.title()

corrections = {
    "Bronz": "Bronze",
    "Goald": "Gold",
    "Sliver": "Silver"
}

loyalty["Loyalty_Tier"] = loyalty["Loyalty_Tier"].replace(corrections)
loyalty["Loyalty_Tier"].unique().tolist()

['Bronze', nan, 'Gold', 'Silver']

In [14]:
# Update the Loyalty_Discount to be a numeric field

loyalty["Loyalty_Discount"] = loyalty["Loyalty_Discount"].str.replace('%', '').astype(float)

In [15]:
# Join the Loyalty Table

prod_and_trans["Loyalty_Number"].astype(str)
prod_trans_loyal = prod_and_trans.merge(loyalty, how="left", on="Loyalty_Number")
prod_trans_loyal["Loyalty_Number"].astype(str)
prod_trans_loyal

,Transaction_Date,Transanction_Number,Product_ID,Cash_or_Card,Loyalty_Number,Sales_Before_Discount,Product_Type,Product_Scent,Product_Size,Unit_Cost,Selling_Price,Quantity,Loyalty_Tier,Loyalty_Discount,Customer_Name
0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,20121001.0,Bar-Ocean_Mist-1x,Card,1004721.0,6.00,Bar,Ocean Mist,1x,0.66,1.20,5.0,Bronze,5.0,Stephen Duggary
2,2021-01-02,20121001.0,Liquid-Rose_Garden-0.5L,Card,1004721.0,14.10,Liquid,Rose Garden,0.5L,3.70,7.05,2.0,Bronze,5.0,Stephen Duggary
3,2021-01-02,20121002.0,Bar-Citrus_Breeze-4x,Cash,1009280.0,8.12,Bar,Citrus Breeze,4x,2.70,4.06,2.0,Bronze,5.0,Allan Swyn
4,2021-01-02,20121002.0,Liquid-Coconut_Dream-0.5L,Cash,1009280.0,12.36,Liquid,Coconut Dream,0.5L,3.44,4.12,3.0,Bronze,5.0,Allan Swyn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105984,2024-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105985,2024-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105986,2024-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105987,2024-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105988,2024-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Create a Sales_After_Discount field to apply the Loyalty_Discount for transactions with a Loyalty_Number

prod_trans_loyal["Sales_After_Discount"] = prod_trans_loyal["Sales_Before_Discount"] * (1 - prod_trans_loyal["Loyalty_Discount"] / 100)
prod_trans_loyal

,Transaction_Date,Transanction_Number,Product_ID,Cash_or_Card,Loyalty_Number,Sales_Before_Discount,Product_Type,Product_Scent,Product_Size,Unit_Cost,Selling_Price,Quantity,Loyalty_Tier,Loyalty_Discount,Customer_Name,Sales_After_Discount
0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,20121001.0,Bar-Ocean_Mist-1x,Card,1004721.0,6.00,Bar,Ocean Mist,1x,0.66,1.20,5.0,Bronze,5.0,Stephen Duggary,5.700
2,2021-01-02,20121001.0,Liquid-Rose_Garden-0.5L,Card,1004721.0,14.10,Liquid,Rose Garden,0.5L,3.70,7.05,2.0,Bronze,5.0,Stephen Duggary,13.395
3,2021-01-02,20121002.0,Bar-Citrus_Breeze-4x,Cash,1009280.0,8.12,Bar,Citrus Breeze,4x,2.70,4.06,2.0,Bronze,5.0,Allan Swyn,7.714
4,2021-01-02,20121002.0,Liquid-Coconut_Dream-0.5L,Cash,1009280.0,12.36,Liquid,Coconut Dream,0.5L,3.44,4.12,3.0,Bronze,5.0,Allan Swyn,11.742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105984,2024-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105985,2024-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105986,2024-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105987,2024-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105988,2024-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Calculate the Profit, defined as:
# Sales_After_Discount - (Unit_Cost * Quantity)

prod_trans_loyal["Profit"] = prod_trans_loyal["Sales_After_Discount"] - (prod_trans_loyal["Unit_Cost"] * prod_trans_loyal["Quantity"])
prod_trans_loyal

,Transaction_Date,Transanction_Number,Product_ID,Cash_or_Card,Loyalty_Number,Sales_Before_Discount,Product_Type,Product_Scent,Product_Size,Unit_Cost,Selling_Price,Quantity,Loyalty_Tier,Loyalty_Discount,Customer_Name,Sales_After_Discount,Profit
0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,20121001.0,Bar-Ocean_Mist-1x,Card,1004721.0,6.00,Bar,Ocean Mist,1x,0.66,1.20,5.0,Bronze,5.0,Stephen Duggary,5.700,2.400
2,2021-01-02,20121001.0,Liquid-Rose_Garden-0.5L,Card,1004721.0,14.10,Liquid,Rose Garden,0.5L,3.70,7.05,2.0,Bronze,5.0,Stephen Duggary,13.395,5.995
3,2021-01-02,20121002.0,Bar-Citrus_Breeze-4x,Cash,1009280.0,8.12,Bar,Citrus Breeze,4x,2.70,4.06,2.0,Bronze,5.0,Allan Swyn,7.714,2.314
4,2021-01-02,20121002.0,Liquid-Coconut_Dream-0.5L,Cash,1009280.0,12.36,Liquid,Coconut Dream,0.5L,3.44,4.12,3.0,Bronze,5.0,Allan Swyn,11.742,1.422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105984,2024-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105985,2024-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105986,2024-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105987,2024-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105988,2024-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Update the field names to remove all underscores and replace them with spaces

prod_trans_loyal.columns = prod_trans_loyal.columns.str.replace("_", " ")
prod_trans_loyal

,Transaction Date,Transanction Number,Product ID,Cash or Card,Loyalty Number,Sales Before Discount,Product Type,Product Scent,Product Size,Unit Cost,Selling Price,Quantity,Loyalty Tier,Loyalty Discount,Customer Name,Sales After Discount,Profit
0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,20121001.0,Bar-Ocean_Mist-1x,Card,1004721.0,6.00,Bar,Ocean Mist,1x,0.66,1.20,5.0,Bronze,5.0,Stephen Duggary,5.700,2.400
2,2021-01-02,20121001.0,Liquid-Rose_Garden-0.5L,Card,1004721.0,14.10,Liquid,Rose Garden,0.5L,3.70,7.05,2.0,Bronze,5.0,Stephen Duggary,13.395,5.995
3,2021-01-02,20121002.0,Bar-Citrus_Breeze-4x,Cash,1009280.0,8.12,Bar,Citrus Breeze,4x,2.70,4.06,2.0,Bronze,5.0,Allan Swyn,7.714,2.314
4,2021-01-02,20121002.0,Liquid-Coconut_Dream-0.5L,Cash,1009280.0,12.36,Liquid,Coconut Dream,0.5L,3.44,4.12,3.0,Bronze,5.0,Allan Swyn,11.742,1.422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105984,2024-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105985,2024-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105986,2024-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105987,2024-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105988,2024-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Remove any unnecessary fields

prod_trans_loyal.pop("Product ID")
prod_trans_loyal.pop("Selling Price")
prod_trans_loyal.pop("Unit Cost")
prod_trans_loyal.head(5)

,Transaction Date,Transanction Number,Cash or Card,Loyalty Number,Sales Before Discount,Product Type,Product Scent,Product Size,Quantity,Loyalty Tier,Loyalty Discount,Customer Name,Sales After Discount,Profit
0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,20121001.0,Card,1004721.0,6.00,Bar,Ocean Mist,1x,5.0,Bronze,5.0,Stephen Duggary,5.700,2.400
2,2021-01-02,20121001.0,Card,1004721.0,14.10,Liquid,Rose Garden,0.5L,2.0,Bronze,5.0,Stephen Duggary,13.395,5.995
3,2021-01-02,20121002.0,Cash,1009280.0,8.12,Bar,Citrus Breeze,4x,2.0,Bronze,5.0,Allan Swyn,7.714,2.314
4,2021-01-02,20121002.0,Cash,1009280.0,12.36,Liquid,Coconut Dream,0.5L,3.0,Bronze,5.0,Allan Swyn,11.742,1.422

## Output
39,337 rows (39,338 including headers)<br><br>
**14 fields:**<br>
- Transaction Date
- Transaction Number
- Product Type
- Product Scent
- Product Size
- Cash or Card
- Loyalty Number
- Customer Name
- Loyalty Tier
- Loyalty Discount
- Quantity
- Sales Before Discount
- Sales After Discount
- Profit

In [20]:
# Output the data
output = prod_trans_loyal.rename_axis(columns=None)
output

,Transaction Date,Transanction Number,Cash or Card,Loyalty Number,Sales Before Discount,Product Type,Product Scent,Product Size,Quantity,Loyalty Tier,Loyalty Discount,Customer Name,Sales After Discount,Profit
0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,20121001.0,Card,1004721.0,6.00,Bar,Ocean Mist,1x,5.0,Bronze,5.0,Stephen Duggary,5.700,2.400
2,2021-01-02,20121001.0,Card,1004721.0,14.10,Liquid,Rose Garden,0.5L,2.0,Bronze,5.0,Stephen Duggary,13.395,5.995
3,2021-01-02,20121002.0,Cash,1009280.0,8.12,Bar,Citrus Breeze,4x,2.0,Bronze,5.0,Allan Swyn,7.714,2.314
4,2021-01-02,20121002.0,Cash,1009280.0,12.36,Liquid,Coconut Dream,0.5L,3.0,Bronze,5.0,Allan Swyn,11.742,1.422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105984,2024-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105985,2024-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105986,2024-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105987,2024-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105988,2024-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Generating csv output file
output.to_csv("output-202410.csv", index=False)